################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp11/.vs/ConsoleApp11/v16/.suo
/ConsoleApp13/.vs/ConsoleApp13/v16
